<%- include('head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%- include('navigation.ejs') %>
            <main>
                <h1 class="name">
                   welcome admin <br><%= name %>
                </h1>
            </main>