<%- include('head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%- include('navigationUser.ejs') %>
            <main>
                <h1 class="name">
                    welcome home <%= name %>
                </h1>
            </main>