<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">home</a></li>
                <li><a href="/login">login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>login page</h1>
        <form action="/checkUser" method="GET">
            <input type="text" name="name">
            <input type="text" name="password">
            <button type="submit">login</button>
        </form>
    </main>
</body>

</html>