<%- include('head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
   <%- include('navigationUser.ejs') %>
    <main>
        <form class="form-frame" action="/login" method="post">
            <div class="form-control">
                <label for="username">username</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="form-control">
                <label for="password">password</label>
                <input type="text" name="password" id="password" step="0.01">
            </div>
            <button class="btn" type="submit">login</button>
        </form>
    </main>