<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">home</a>
            </li>
            <li class="main-header__item">
                 <a class="<%= path === '/admin' ? 'active' : '' %>" href="/admin">admin</a>
            </li>
            <li class="main-header__item">
                <form action="/log-out" method="post">
                    <button type="submit" name="log out" value="log out" class="btn-link">log out</button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">home</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/admin' ? 'active' : '' %>" href="/admin">admin</a>
        </li>
        <li class="mobile-nav__item">
            <form action="/log-out" method="post">
                <button type="submit" name="log out" value="log out" class="btn-link">log out</button>
            </form>
        </li>
    </ul>
</nav>