<%- include('head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
   <%- include('navigationUser.ejs') %>
    <main>
        <form class="form-frame" action="/otp" method="post">
            <div class="form-control">
                <label for="code">code</label>
                <input type="text" name="code" id="code">
            </div>
            <button class="btn" type="submit">check</button>
        </form>
    </main>