<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/home">home</a></li>
                <li class="main-header__item"><a href="/login">login</a></li>
                <li class="main-header__item"><a class="active" href="/register">register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>register page</h1>
        <form class="product-form" action="/adduser" method="POST">
            <div class="form-control">
                <label for="name">name</label>
                <input type="text" name="name" id="name">
                <label for="password">password</label>
                <input type="text" name="password" id="password">
            </div>

            <button type="submit">register</button>
        </form>
    </main>
</body>

</html>