<%- include('head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%- include('navigationUser.ejs') %>
            <main>
                <form class="form-frame" action="/register" method="post">
                    <div class="form-control">
                        <label for="username">username</label>
                        <input type="text" name="username" id="username">
                    </div>
                    <div class="form-control">
                        <label for="name">name</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div class="form-control">
                        <label for="mail">mail</label>
                        <input type="text" name="mail" id="mail" step="0.01">
                    </div>
                    <div class="form-control">
                        <label for="password">password</label>
                        <input type="password" name="password" id="password" step="0.01">
                    </div>
                    <button class="btn" type="submit">register</button>
                </form>
            </main>